body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: lighten(#000, 30%);
}
#app {
  background-image: url('/public/image/bg-min.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nurse-options-dialog {
  .q-dialog__inner {
    .q-card {
      width: 400px;
    }
  }
}
